// ----------footer----------
.monfooter-banner{
    background-color: $themeColor;
    width: 80%;
    top: -30%;  left: 50%;
    transform: translateX(-50%);
    h2{
        width: 60%;
    }
    p{
        width: 60%;
    }
    .monfooter-btn{
        width: 40%;
    }
}

.monfooter-navbar{
    padding-top: 300px !important;
}