// ----------section_features----------
#section_features{
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 250px !important;
    i{
        color: $themeColor;
        font-size: 6rem;

    }
}