* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "lato";
  src: url(../../fonts/Lato/Lato-Regular.ttf);
}
body {
  font-family: "lato";
}

.navbar-brand img {
  width: 300px;
}

.monbanner {
  background-color: #E7816B;
  height: 500px;
  overflow: hidden;
}
.monbanner h1 {
  width: 60%;
}
.monbanner p {
  width: 60%;
}
.monbanner img {
  height: 100%;
  top: 20%;
  right: 10%;
}

.moncol-service {
  height: 500px;
}
.moncol-service div {
  height: 50%;
}

.monservicebox-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/homme-assis-batiment.jpg);
  background-position: 50%;
}
.monservicebox-1 i {
  color: #E7816B;
}

.monservicebox-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/passport.jpg);
  background-position: 50%;
}
.monservicebox-2 i {
  color: #E7816B;
}

.monservicebox-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/montgolfiere.jpg);
  background-position: 50%;
}
.monservicebox-3 i {
  color: #E7816B;
}

#section_features {
  background-image: url(../img/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 250px !important;
}
#section_features i {
  color: #E7816B;
  font-size: 6rem;
}

.monfooter-banner {
  background-color: #E7816B;
  width: 80%;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
}
.monfooter-banner h2 {
  width: 90%;
}
.monfooter-banner p {
  width: 90%;
}
.monfooter-banner .monfooter-btn {
  width: 50%;
}

.monfooter-navbar {
  padding-top: 300px !important;
}

@media (max-width: 992px) {
  #header .monnavbar {
    align-items: flex-end;
  }
  #header .monbanner {
    height: 600px;
  }
  #header .monbanner h1 {
    width: 50%;
  }
  #header .monbanner p {
    width: 50%;
  }
  #header .monbanner img.position-absolute {
    height: 70%;
    top: 20%;
    right: 10%;
  }
  #section_features .monfeature-content {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  #footer .monfeature-content {
    padding-left: 0;
    padding-right: 0;
  }
  #footer .monfeature-content p {
    line-height: normal;
  }
  #footer .monfooter-banner {
    top: -20%;
  }
  #footer .monfooter-navbar div.container-fluid ul {
    flex-direction: row;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  #header .monbanner {
    height: auto;
  }
  #header .monbanner h1 {
    width: 90%;
  }
  #header .monbanner p {
    width: 90%;
  }
  #header .monbanner img {
    display: none;
  }
  #section_services h2 {
    text-align: center !important;
    font-size: 5rem !important;
  }
  #section_services .moncol-service:last-of-type {
    height: 1000px;
    padding: 0;
    gap: 30px;
  }
  #section_services .monservicebox-2 {
    margin-top: 30px;
    height: 500px;
  }
  #section_services .monservicebox-3 {
    height: 500px;
  }
  #section_features h2 {
    text-align: center !important;
    font-size: 5rem !important;
  }
  #section_features .row {
    gap: 50px;
  }
  #footer .card-body {
    flex-direction: column;
  }
  #footer .card-body div {
    text-align: center;
  }
  #footer .card-body h2 {
    width: 100%;
  }
  #footer .card-body p {
    width: 100%;
  }
  #footer .card-body a {
    margin: 0 auto;
  }
  #footer .monfooter-btn {
    margin: 0 auto;
  }
  #footer .monfooter-btn a {
    margin-top: 50px;
  }
  #footer .monfooterflex_mobile {
    display: flex;
    flex-direction: column;
  }
  #footer .monfooterflex_mobile div {
    padding-right: 0 !important;
  }
  #footer .monfooterflex_mobile a {
    font-size: 1.5em;
  }
  #footer .monfooterlistflex_mobile {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    gap: 0px !important;
  }
  #footer .flex_monfooter_bas h6 {
    text-align: center;
  }
  #footer .flex_monfooter_bas p {
    text-align: center;
    font-size: 13px;
  }
  #footer .flex_monfooter_bas:last-child {
    justify-content: center !important;
  }
}

/*# sourceMappingURL=style.css.map */
