@media (max-width :992px) {
    #header{
        .monnavbar{
            align-items: flex-end;
        }
        .monbanner{
            height: 600px;
            h1{
                width: 50%;

            }
            p{
                width: 50%;

            }
            img.position-absolute{
                height: 70%;
                top: 20%; right: 10%;
            }
        }
    }
    #section_features{
        .monfeature-content{
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }

    }

    #footer{
        .monfeature-content{
            padding-left: 0 ;
            padding-right: 0 ;

            p{
                line-height: normal ;
            }
        }
        .monfooter-banner{
            top: -20% ;  
        }
        .monfooter-navbar{
            div.container-fluid{
                ul{
                    flex-direction: row ;
                    gap: 30px;
                }
            }
        }
    }
}



@media (max-width : 767px) {
    #header{
        .monbanner{
            height: auto ;
            h1{
                width: 90% ;
            }
            p{
                width: 90% ;
            }
            img{
                display: none;
            }
        }
    }   

    #section_services{
        h2{
            text-align: center !important;
            font-size: 5rem !important;
        }
        .moncol-service:last-of-type{
            height: 1000px;
            padding: 0;
            gap: 30px;
        }
        .monservicebox-2{
            margin-top: 30px;
            height: 500px ;
        }
        .monservicebox-3{
            height: 500px ;
        }
    }


    #section_features{
        h2{
            text-align: center !important ;
            font-size: 5rem !important;
        }
        .row{
            gap: 50px;
        }
    }


    #footer{
        .card-body{
            flex-direction: column ;
            div{
                text-align: center ;
            }
            h2{
                width: 100% ;
            }
            p{
                width: 100% ;
            }
            a{
                margin: 0 auto;
            }
        }
        .monfooter-btn{
            margin: 0 auto ;
            a{
                margin-top: 50px ;
            }
        }
        .monfooterflex_mobile{
            display: flex ;
            flex-direction: column ;
            div{
                padding-right: 0 !important;  
            }
            a{
                font-size: 1.5em;
            }
        }
        .monfooterlistflex_mobile{
            font-size: 0.8rem;
            display: flex ;
            flex-direction: column !important;
            align-items: center !important;
            gap: 0px !important;          
        }
        .flex_monfooter_bas{
            h6{
                text-align: center; 
            }
            p{
                text-align: center; 
                font-size: 13px;
            }
        }
        .flex_monfooter_bas:last-child{
            justify-content: center !important;
        }
    }
}
